.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: rgb(232, 16, 16);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-left .nav-logo {
  width: 120px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}

.nav-menu li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-menu li:hover {
  color: #ff4d4d;
}

.login-btn {
  padding: 6px 16px;
  border: 1.5px solid #ff4d4d;
  border-radius: 6px;
}

.login-btn:hover {
  background: #ff4d4d;
  color: white;
}

.nav-right .nav-cart {
  width: 32px;
  cursor: pointer;
}
